<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stepan.job-search-agent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/stepanluschyshyn/Documents/GitHub/job-search-agent/.venv/bin/python</string>
        <string>/Users/stepanluschyshyn/Documents/GitHub/job-search-agent/src/run.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/stepanluschyshyn/Documents/GitHub/job-search-agent</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/stepanluschyshyn/Documents/GitHub/job-search-agent/job-search-agent.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/stepanluschyshyn/Documents/GitHub/job-search-agent/job-search-agent-error.log</string>
</dict>
</plist>